/*.log
/target
/*-init.clj
/resources/public/js/compiled
build
build_test
node_modules
cache.edn
*.cache.edn
test/js
nrepl-port
unittest
target-separatefiles
target-old
.nrepl-history
.nrepl-port
out
tests-target
.tern-port
.tern-port
